<div id="app-banner" class="banner">
    <button id="banner-home-button" class="banner-home-button" aria-label="Home" title="Home"></button>
    <div class="planets" aria-hidden="true">
        <span class="spacer" style="flex-grow:0.39;"></span>
        <span class="planet mercury"></span>
        <span class="spacer" style="flex-grow:0.72;"></span>
        <span class="planet venus"></span>
        <span class="spacer" style="flex-grow:1.00;"></span>
        <span class="planet earth"></span>
        <span class="spacer" style="flex-grow:1.52;"></span>
        <span class="planet mars"></span>
        <span class="spacer" style="flex-grow:5.20;"></span>
        <span class="planet jupiter"></span>
        <span class="spacer" style="flex-grow:9.58;"></span>
        <span class="planet saturn"></span>
        <span class="spacer" style="flex-grow:19.18;"></span>
        <span class="planet uranus"></span>
        <span class="spacer" style="flex-grow:30.07;"></span>
        <span class="planet neptune"></span>
    </div>
</div>
